.login-form {
  width: 450px;
  margin: 50px auto;
  padding: 50px;
  border-radius: 10px;
  background-color: var(--light-bgc);
  box-shadow: 0px 0px 20px 0px #ffffff1a;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    color: var(--ft_pr);
  }

  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--success);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: var(--success-dr);
  }
  button:focus {
    outline: none;
  }
}
