button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--success);
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: var(--success-dr);
}
button:focus {
  outline: none;
}
