:root {
  --primary: #642AB5;
  --bgc: #24163A;
  --dark-bgc: #1a1325;
  --light-bgc: #301c4d;
  --hover: #51258F;
  --active: #854ECA;
  --link: #642AB5;
  --success: #49aa19;
  --success-dr: #3c8618;
  --warning: #d89614;
  --error: #a61d24;
  --ft_pr: #FFFFFFF9;
  --ft-dark: #ECE5F6;
  --ft-darker: #DBCEEE;
  --ft-sec: #FFFFFFA6;
  --ft-dis: #FFFFFF40;
  --ft-br: #424242FF;
}
